<div class="main-index">
    <div class="main-index-inner">
        <div class="main-index-top">
            top
        </div>
        <div class="main-index-middle">
            <div class="">
                1
            </div>
            <div class="">
                2
            </div>
            <div class="">
                3
            </div>
        </div>
        <div class="main-index-bottom">
            botom
        </div>

    </div>
</div>