div {
    // border:  solid 1px #ddd;
}

.apt-show {
    padding: 0 30px;   
    width: 100%; 
    background-color: #fff;
}

.apt-show-inner {
    display: flex; 
}


.apt-show-left, .apt-show-middle-left {  
    min-width: 300px;
    max-width: 750px;
    vertical-align: top;
    margin: 0 2%;  
    flex-grow: 3; 
}



.apt-show-right, .apt-show-middle-right {
    vertical-align: top;
    min-width: 250px; 
    min-height: 300px;
    vertical-align: top;
    margin: 0 2%; 
    flex-grow: 1;  
}

.apt-header {
    padding: 10px 20px; 
}

.apt-header-line  {
    display: flex; 
    border-bottom: solid 3px #40089a;
}

.apt-header-left {
    min-width: 300px; 
    vertical-align: top;
    margin: 0px 2%;  
    flex-grow: 2; 
    font-size: 1.25em;
    font-family: "Inter",sans-serif;
    font-weight: 600;
    // color: rgba(0,0,0,.87);  
    font-size: 1.5rem; 
    text-align: left;
}

.apt-header-right {
    vertical-align: top;
    min-width: 250px;  
    vertical-align: top;
    margin: 0px 2%; 
    flex-grow: 1;   
    font-size: 1.25em;
    font-family: "Inter",sans-serif;
    font-weight: 600;
    // color: rgba(0,0,0,.87);  
    font-size: 1.5rem; 
    text-align: right;
}

.apt-show-title {
    font-size: 15px; 
    color: grey; 
}

// RIGHTSIDE
.apt-show-right {
    position: relative;
    border: solid red 1px;
}

.apt-show-right-inner {
    display: block;
    border: solid red 1px;
    width: 100%;
    // position: fixed;
    position: sticky !important;
    top: 80px !important;
    z-index: 1 !important;
    z-index: 1;
    top: 100px;
    right: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
}

.apt-show-right-top {
    display: block;
}
.apt-show-right-top-left {
    display: inline-block;
    width: 67%;
}
.apt-show-right-top-right {
    display: inline-block;
    width: 30%;
}


.apt-show-right-middle {
    display: block;
}


.apt-show-right-bottom {
    display: block;
}

.apt-show-right-middle-left {
    display: inline-block;
    width: 49%;

}

.apt-show-right-middle-right {
    display: inline-block;
    width: 49%;

}

 


///////
 
.project-image-large {
    width: 100%;
    max-height: 550px;
    overflow: hidden; 
}

.project-image-large img{
    width: 100%; 
}

.project-image-small { 
    display: flex;
    flex-wrap: wrap;   
    align-items: center;
    border: 1px solid rgba(0,0,0,.125);
    transition: 0.3s;
}

.each-project-image-small { 
  width: 100px;
  max-height: 100px;
  margin: 5px;
  border-radius: 6px; 
  overflow: hidden; 
}

.each-project-image-small img {
    width: 100%;
    border-radius: 6px;
}
 
 
 

// DESCRIPTIONS
.apt-show-middle {
    margin: 50px 0;
}

.apt-show-middle-inner {
    display: flex;  
}

.apt-show-middle-left, .apt-show-middle-right { 
    color: rgb(34, 34, 34) !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px ;
}

.apt-show-ammenities, .apt-show-description {
    width: 100%;
    margin: 20px;
    padding-bottom: 30px; 
}

.apt-show-description {
    border-bottom:  solid 1px #ddd;
}

.apt-show-ammenities {  
}

.apt-show-ammenities ul { 
    list-style-type: none;
    margin: 0;
    padding: 0;  
    display:inline-table;
    width: 100%;
    padding-bottom: 30px; 
    border-bottom:  solid 1px #ddd;
}

.apt-show-ammenities li { 
    width: 49%;
    float: left;
    padding: 7px 0;
    margin: 0;
}


.apt-show-details-edit { 
    height: 30px;
}

.apt-show-details-edit a { 
    color: #40089a;
    font-weight: 700;
    text-decoration: none; 
}

.apt-show-details-edit a:hover { 
    color: #00b9ff;
    font-weight: 700;
    text-decoration: none; 
}


.apt-show-middle-right {


}



@media only screen and (max-width: 750px) {
    .project-top-left {
        display: block;
        width: 90%;
        margin: 10px auto;

    }

 

 
 
}


@media only screen and (max-width: 450px) {
  

    .project-top-left { 
        width: 100%; 
    } 

   
  
}


@media only screen and (max-width: 750px) {
    .apt-show-left { 
   display: block;   
   min-width: 260px;
}
.apt-show-inner { 
display: block; 
}

.apt-show-right {  
  display: block;   
}
 

}


@media only screen and (max-width: 450px) {
  .apt-show {
   padding: 5px; 
 } 

 .apt-header-line  {
    display: block;
    width: 100%;
    min-width: 260px;
}

.apt-header-left {
    display: block;
}

.apt-header-right {
    display: block;
}
 
}
