<div class="header">
    <div class="header-top">
      <span>  </span>
    </div>
    <div class="header-middle"> 
        <div class="header-middle-left">
            You almost done!  
        </div>
        <div class="header-middle-right">
          <% if current_user %> 
            <% if current_user.apartments.count > 0 %> 
            <%=  link_to raw(' &nbsp &nbsp  go back '+ ' <i class="fa fa-edit"></i> ') , apartment_path(params[:id]) %>  
          <% end %> 
          <% end %> 
        </div>
    </div>
</div>

 <div class="apt-new">
     <div class="apt-new-inner">
         <div class="apt-new-left" >
             <div class="new-container">

                 <%= render 'form', apartment_detail: @apartment_detail %>

                 <!---->
             </div>
         </div>

         <div class="apt-new-right">
             <div class="new-container">
                 <div class="apt-new-right">


                     info
                 </div>
             </div>
         </div>
     </div>
 </div>


