
 <div class="header">
     <div class="header-line">
         <div class="header-title">
             <h3> Make changes </h3>
         </div>
     </div>
 </div>

 <div class="apt-new">
     <div class="apt-new-inner">
         <div class="apt-new-left" >
             <div class="new-container">

                <%= render 'form', apartment: @apartment %>

                 <!---->
             </div>
         </div>

         <div class="apt-new-right">
             <div class="new-container">
                 <div class="apt-new-right">


                     info
                 </div>
             </div>
         </div>
     </div>
 </div>



