

<div class="header">
    <div class="header-top">
      <span> <%= current_user.apartments.all.count %> </span>
    </div>
    <div class="header-middle"> 
        <div class="header-middle-left">
            Add an apartment  
        </div>
        <div class="header-middle-right">
  
        </div>
    </div>
</div>

 <div class="apt-new">
     <div class="apt-new-inner">
         <div class="apt-new-left" >
             <div class="new-container">

                 <%= render 'form', apartment: @apartment %>

                 <!---->
             </div>
         </div>

         <div class="apt-new-right">
             <div class="new-container">
                 <div class="apt-new-right">


                     info
                 </div>
             </div>
         </div>
     </div>
 </div>
